---
interface Props {
  href: string;
  image: string;
  alt: string;
  title: string;
  description: string;
}

const { href, image, alt, title } = Astro.props;
//
---

<li class={`max-w-[300px]`}>
  <a href={href} class="card-link">
    <img
      src={image}
      alt={alt}
      draggable="false"
      title={title}
      aria-description={Astro.props.description ?? ''}
    />
  </a>
</li>
