---
interface Props {
  title: string;
  href: string;
  class?: string;
}

const { title, href } = Astro.props;
//
---

<li
  class={`cursor-pointer underline font-semibold hover:text-sky-700 dark:hover:text-cyan-400 list-none p-0 m-0 ${Astro.props.class}`}
>
  <a class="py-2 inline-block" href={href}>{title}</a>
</li>
