---
interface Props {
  title: string;
  href: string;
  class?: string;
  outlink?: boolean;
}

const { title, href } = Astro.props;
---

<li
  class={`cursor-pointer underline font-semibold
  _hover:text-sky-700 _dark:hover:text-cyan-400
  hover:text-secondary group
  list-none p-0 m-0 ${Astro.props.class}`}
>
  <a
    class="py-2 inline-block group-hover:underline group-hover:decoration-accent"
    href={href}
    target={Astro.props.outlink ? '_blank' : '_self'}
    rel={Astro.props.outlink ? 'noopener noreferrer' : ''}
  >
    {title}
  </a>
</li>
