*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  color: var(--blackish);
  overflow-x: hidden;
  border: none;
  background-color: transparent;
}

:root {
  --blackish: #222;
  --grey: #e4e4e6;
}

html {
  box-sizing: border-box;
  height: 100%;
}

h1,
h2 {
  font-weight: bold;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
p {
  font-size: 16px;
}
small {
  font-size: 12px;
}

body {
  position: relative;
  height: 100%;
  min-height: 100vh;
  background: var(--grey);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 76px;
  left: 0;
  right: 0;
  top: 0;
}

.menu {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 1s;
}

main {
  transition: 1s;
}

.container {
  padding: 100px 0;
  border-bottom: #dadada solid 2px;
  display: grid;
  grid-template-columns: minmax(25%, 250px) minmax(50%, 65%);
  place-items: center;
}

.container:first-child {
  margin-top: 74px;
  border-top: #dadada solid 2px;
}

.section-content {
  justify-self: flex-end;
}

.social img {
  height: 32px;
  width: 32px;
}

footer {
  padding: 40px 0;
  text-align: center;
}

.margin-side {
  margin: 0 20px;
}

.grid {
  display: grid;
}

.gap05 {
  gap: 0.5rem;
}
.gap1 {
  gap: 1rem;
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

@media only screen and (max-width: 1000px) {
  header {
    margin-top: 44px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    grid-template-columns: minmax(10%, 250px) minmax(25%, 50%);
  }
}
