---
import { basics } from '@cv/cv.json';
import { basics as enBasics } from '@cv/cv-en.json';

let currentLang = Astro.url.pathname.split('/')[1];
if (currentLang === 'cv') currentLang = 'ar';

let summary = '';
if (currentLang === 'ar') summary = basics.summary;
if (currentLang === 'en') summary = enBasics.summary;
---

<p>{summary}</p>
