---
interface Props {
  title?: string;
  style?: string;
}

const { title } = Astro.props;
---

<section style={Astro.props.style}>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  section {
    max-width: 700px;
    margin: 0 auto 48px;
  }

  h2 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
  }
</style>
