---
import { skills, skillCategories } from '@cv/cv.json';

const uniqueSkills = [
  ...new Set(
    skills.map(({ name, icon, category }) => ({ name, icon, category }))
  ),
].sort((a, b) => {
  const aIndex = skillCategories.indexOf(a.category);
  const bIndex = skillCategories.indexOf(b.category);
  return aIndex - bIndex;
});
---

<ul>
  {
    uniqueSkills.map(({ name, icon }) => (
      <li>
        {icon && <span class="cv-my-skills" data-info={icon} />}
        {name}
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    border-radius: 6px;
    background-color: var(--color-zinc-800);
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  li span {
  }
</style>

<script>
  const span = document.querySelectorAll('.cv-my-skills');
  for (const s of span) s.innerHTML = s.getAttribute('data-info') ?? '';
</script>
