---
import Layout from '@/layouts/Layout.astro';
---

<Layout
  title="Legal | Kizendev"
  description="Información legal sobre Kizen.dev"
>
  <section class="px-2 max-w-[60ch] [&>*]:mb-[16px]" style="text-wrap: pretty">
    <h1 class="text-3xl font-bold">Legal</h1>
    <h3 class="text-2xl font-semibold">
      Reconocimientos y licencias de software
    </h3>
    <p>
      El CV que se encuentra en el link ubicado en el header fue basado en el
      diseño de <a
        class="text-cyan-400 hover:underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/BartoszJarocki/cv">Bartosz Jarocki</a
      >, adaptado por <a
        class="text-cyan-400 hover:underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/midudev/minimalist-portfolio-json">Midudev</a
      >, y luego vuelto a ser adaptado por mí. Licencia MIT.
    </p>
    <p>
      Los íconos que encontrarás en el sitio web son de <a
        class="text-cyan-400 hover:underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://tabler.io/icons">Tabler Icons</a
      >, una biblioteca de licencia MIT.
    </p>
    <p>
      El sitio web fue construido con <a
        class="text-cyan-400 hover:underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://astro.build">Astro</a
      >.
    </p>
    <p>
      Mayormente se utilizó <a
        class="text-cyan-400 hover:underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://tailwindcss.com">Tailwind CSS</a
      > para el diseño.
    </p>
  </section>
</Layout>
