---
const currentYear = new Date().getFullYear();

let cLang = '';
if (Astro.currentLocale === 'en') cLang = 'en';

const isEn = cLang === 'en';
---

<footer class="flex flex-col gap-4 justify-center w-full h-[256px]">
  <ul class="flex gap-4">
    <li class="text-sm hover:underline">
      <a href="/legal">Legal</a>
    </li>
    <li class="text-sm hover:underline">
      <a href={`${isEn ? '/en' : ''}/rss.xml`}>RSS feed</a>
    </li>

    <li class="text-sm ml-auto">
      <select id="switchLanguage" class="bg-transparent border-none text-sm">
        <option class="bg-zinc-900" value="es" selected={!isEn} hidden={!isEn}
          >Español (ar)</option
        >
        <option class="bg-zinc-900" value="en" selected={isEn} hidden={isEn}
          >English</option
        >
      </select>
    </li>
  </ul>
  <p class="text-center text-sm">
    &copy; {currentYear} Kizzandev • All rights reserved.
  </p>
</footer>

<script is:inline>
  document.getElementById('switchLanguage')?.addEventListener('change', (e) => {
    const lang = e.target.value;
    if (lang === 'es') return (window.location.href = `/`);
    if (lang === 'en') return (window.location.href = `/en`);
  });
</script>
