---
const currentYear = new Date().getFullYear();

let cLang = '';
if (Astro.currentLocale === 'en') cLang = 'en';

const isEn = cLang === 'en';
---

<footer class="flex flex-col gap-4 justify-center w-full h-[256px]">
  <ul class="flex gap-4 list-none p-0">
    <!-- <li class="text-sm hover:underline decoration-accent hover:text-secondary">
      <a href={`${isEn ? '/en' : ''}/legal`}>Legal</a>
    </li> -->
    <li class="text-sm hover:underline decoration-accent hover:text-primary">
      <a href={`${isEn ? '/en' : ''}/rss.xml`}>RSS</a>
    </li>

    <li class="text-sm ml-auto">
      <select
        id="switchLanguage"
        aria-label={isEn ? 'Switch language' : 'Cambiar idioma'}
        data-lang={isEn ? 'en' : 'es'}
        class="bg-transparent border-none text-sm cursor-pointer"
        transition:name="languageSwitcher"
        transition:persist
        transition:animate="none"
      >
        <option class="bg-zinc-900" value="es">Español (ar)</option>
        <option class="bg-zinc-900" value="en">English</option>
      </select>
    </li>
  </ul>
  <p class="text-center text-sm">
    &copy; {currentYear} Kizzandev • {
      isEn ? 'All rights reserved.' : 'Todos los derechos reservados.'
    }
  </p>
</footer>

<script is:inline>
  function footerStart() {
    const langSwitcher = document.getElementById('switchLanguage');
    if (!langSwitcher) return;

    const currentLang = langSwitcher.getAttribute('data-lang');
    const options = langSwitcher.querySelectorAll('option');
    if (!options || !currentLang) return;

    options.forEach((option) => {
      if (option.value === currentLang) {
        option.setAttribute('selected', 'true');
        option.setAttribute('hidden', 'true');
      }
    });

    langSwitcher.addEventListener('change', (e) => {
      const lang = langSwitcher.getAttribute('data-lang');
      if (lang === 'es') {
        langSwitcher.setAttribute('data-lang', 'en');
        return (window.location.href = `/en`);
      }
      if (lang === 'en') {
        langSwitcher.setAttribute('data-lang', 'es');
        return (window.location.href = `/`);
      }
    });
  }

  footerStart();
</script>
