---
const currentYear = new Date().getFullYear();

let cLang = '';
if (Astro.currentLocale === 'en') cLang = 'en';
---

<footer class="flex flex-col justify-center w-full h-[256px]">
  <ul class="flex gap-4">
    <li class="text-center text-sm hover:underline">
      <a href="/legal">Legal</a>
    </li>
    <li class="text-center text-sm hover:underline">
      <a href={`${cLang === 'en' ? '/en' : ''}/rss.xml`}>RSS feed</a>
    </li>
  </ul>
  <p class="text-center text-sm">
    &copy; {currentYear} Kizzandev • All rights reserved.
  </p>
</footer>
