---
const title = 'Aurum';
const slogan = 'blog.kizzan.dev';
---

<section class="py-[16px]">
  <article class="flex flex-col">
    <h1 class="text-[24px] md:text-[64px] font-bold text-center text-primary">
      {title}
    </h1>
    <h2
      class="text-[16px] md:text-[24px] text-center text-zinc-800 font-semibold dark:text-zinc-300"
    >
      {slogan}
    </h2>
  </article>
</section>
