---
import DesignSection from '@components/atom/DesignSection.astro';
import IconSearch from '@components/icons/IconSearch.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es-AR" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Kizen Design System | {title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="bg-zinc-900 text-zinc-100">
    <div
      id="app"
      class="h-screen p-[64px] pb-0 max-w-screen-2xl mx-auto sm:grid sm:grid-cols-4 gap-x-[64px] overflow-x-hidden"
    >
      <aside
        class="hidden md:flex flex-col gap-y-8 col-span-1 max-h-full overflow-hidden"
      >
        <div class="flex justify-between">
          <span>LOGO</span>Design System
        </div>

        <div
          class="flex items-center justify-between px-2 py-2 border border-zinc-700 rounded-md"
        >
          <input
            autocapitalize="none"
            autocomplete="off"
            autocorrect="off"
            class="inline-flex w-full h-full bg-transparent border-none focus:ring-0 focus:outline-none"
            placeholder="Buscar..."
            spellcheck="false"
            title="Buscar..."
            type="text"
            value=""
          />

          <span
            class="flex items-center justify-center w-8 h-8 border border-zinc-700 rounded-md"
            style="transform: scale(-1,1);"
            ><IconSearch class="h-4 w-4" />
          </span>
        </div>

        <div class="flex flex-col gap-y-4 overflow-y-auto h-full pb-[32px]">
          <DesignSection
            title="Elemental"
            secciones={['Introducción', 'Color', 'Iconos', 'Reconocimientos']}
          />
          <DesignSection title="Estructuras" secciones={['Flex', 'Grid']} />
          <DesignSection
            title="Componentes"
            secciones={[
              'Avatar',
              'Árbol de Archivos',
              'Botón',
              'Cargando',
              'Código',
              'Desplazamiento',
              'Detalles',
              'Elección',
              'Encuesta',
              'Entidad',
              'Error',
              'Esqueleto',
              'Indicador de Estado',
              'Información',
              'Ingreso de Datos',
              'Ingreso por Teclado',
              'Insignia',
              'Interruptor',
              'Material',
              'Menú',
              'Menú de Contexto',
              'Modal',
              'Mostrar más',
              'Nota',
              'Notificación',
              'Paginación',
              'Pestaña',
              'Progreso',
              'Rastro de Navegación',
              'Retroalimentación',
              'Snippet',
              'Tabla',
              'Texto',
              'Ventana',
              'Video',
            ]}
          />
        </div>
      </aside>
      <main class="col-span-3">
        <slot />
      </main>
    </div>
  </body>
</html>

<style is:global>
  :root {
  }

  *,
  *::before,
  *::after {
    position: relative;
    box-sizing: border-box;
  }

  html {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
  }

  body {
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    text-wrap: balance;
  }
</style>
